---
import ConfirmAccount from '../components/confirm/confirm';
---

<html>
<head>
    <title>Confirm Account</title>
    <meta charset="UTF-8">
</head>
<body>
    <div id="confirm-account">
        <ConfirmAccount  client:load/>
    </div>
</body>
</html>
